@import '../utils/variables';
@import '../utils/mixins';

.contact-page {
  background: url('../assets/img/contact_bg.png') no-repeat center center fixed;
  background-size: cover;
}

.contact {
  text-align: center;
  padding: $padding-large $padding-medium;
  font-family: $font-primary;

  h1 {
    font-size: 4em;
    margin-bottom: $margin-medium;
    color: rgba(255, 255, 255, 0.514);
  }

  h2 {
    font-size: $font-size-medium;
    color: $primary-color;
    position: absolute;
    top: 0.5px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins';
  }

  .contact-header {
    position: relative;
    margin-bottom: $margin-large;
  }

  .contact-content {
    @include flex-center(row, space-between);
    background-color: $border-color(0, 0, 0, 0.7);
    padding: $padding-large;
    border-radius: 10px;

    .contact-info {
      flex: 1;
      padding-right: $padding-medium;
      text-align: left;

      h3 {
        font-size: $font-size-medium;
        margin-bottom: $margin-small;
        color: $primary-color;
      }

      p {
        font-size: 1em;
        line-height: 1.5;
        color: lighten($text-color, 30%);
        font-family: 'Poppins';
      }
    }

    .contact-form {
      flex: 1;
      max-width: 600px;
      text-align: left;

      .form-row {
        @include flex-center(column);
        gap: $gap-small;
        margin-bottom: $margin-medium;

        input,
        textarea {
          width: 100%;
          padding: $padding-small;
          border: 2px solid $primary-color;
          border-radius: 5px;
          background-color: $background-color;
          color: $text-color;

          &:hover {
            border-color: $secondary-color;
          }

          &:focus {
            outline: 2px solid $primary-color;
            outline-offset: 2px;
          }
        }

        textarea {
          resize: vertical;
        }
      }

      .send-button {
        padding: $padding-small $padding-medium;
        border: none;
        border-radius: 5px;
        background-color: $primary-color;
        color: $text-color;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: $margin-medium;

        &:hover {
          background-color: $secondary-color;
        }

        &:focus {
          outline: 2px solid $primary-color;
          outline-offset: 2px;
        }
      }
    }
  }
}

.bg-dark {
  background-color: $background-color;
}

/* Ajustes Responsivos */
@include respond-to(tablet) {
  .contact-content {
    flex-direction: column;
    padding: $padding-medium;
  }

  .contact-info {
    margin-bottom: $margin-medium;
  }

  .contact-form {
    width: 100%;
  }
}
