@import '../utils/variables';
@import '../utils/mixins';

/* Estructura del Grid Principal */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "section-principal section-principal"
    "titulo-testimonio titulo-testimonio"
    "section-testimonio1 section-testimonio2";
  grid-gap: 0px;
  padding: $padding-medium;
  background-color: $background-color; /* Fondo negro para la sección principal */
}

.section-principal {
  grid-area: section-principal;
  background-image: url("../assets/img/fitness para ti.jpg");
  background-size: cover;
  background-position: center;
  @include flex-center(column, center);
  padding: $padding-large;
  color: $text-color;
  height: 500px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
    z-index: 1;
  }

  h1, p {
    position: relative;
    z-index: 2;
  }

  h1 {
    align-self: flex-start;
    font-family: $font-primary;
    margin-bottom: $margin-large;
  }

  p {
    font-size: 14px;
    width: 50%;
    align-self: flex-end;
    max-width: 400px;
    padding: $padding-medium;
    background-color: rgba($text-color, 0.1);
    border: 1px solid $text-color;
    border-radius: 10px;
    margin-top: $margin-medium;
    line-height: 1.6;
    color: $text-color;
    font-family: 'Poppins';
  }
}

/* Sección de Testimonios */
.titulo-testimonio,
.section-testimonio1,
.section-testimonio2 {
  background-color: $text-color;
  color: $background-color;
  padding: $padding-medium;
  font-family: $font-primary;
}

.titulo-testimonio {
  grid-area: titulo-testimonio;
  text-align: center;
  color: $background-color;
}

.section-testimonio1 {
  grid-area: section-testimonio1;
  font-family: $font-primary;
}

.section-testimonio2 {
  background-color: $primary-color;
  grid-area: section-testimonio2;
}

.section-testimonio1 img, 
.section-testimonio2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: $margin-small;
}

img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
@include respond-to(tablet) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "section-principal"
      "titulo-testimonio"
      "section-testimonio1"
      "section-testimonio2";
  }

  .section-principal {
    height: 400px;
  }
}

@include respond-to(mobile) {
  .section-principal {
    height: 300px;

    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 0.9em;
      padding: $padding-small;
    }
  }

  .navbar-nav {
    text-align: center;

    .nav-item {
      .nav-link {
        padding: 10px 15px;
      }
    }
  }
}
