// _header.scss

@import '../utils/variables';
@import '../utils/mixins';

header {
  background-color: $background-color;
  color: $text-color;
  padding: $padding-small $padding-medium;

  .header-container {
    @include flex-center(row, space-between);
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      width: 150px;

      @include respond-to(tablet) {
        width: 120px;
      }

      @include respond-to(mobile) {
        width: 100px;
      }
    }
  }
}
